:root {
    --dark: #000000;
    --highlight:#3EB595;
    --attention-highlight: #FFF447;
    --soft-highlight: #d1cd93d2;
    --light: #ffffff;
    --neutral: #aaa8a5;
    --transparent-neutral: #807c7770;
    --wrong: red;
    --right: green;
}
  
html {
    /* sets 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {  
    font-size: 4em; 
    padding: 1.5em;
    text-align: center;
    background-color: var(--neutral);
    border-radius: 12px;
    font-style: oblique;
}

nav > ul > li > a{
    color: var(--highlight);
    font-size: 3.5em;
}

nav > label{
     color: var(--highlight);
    font-size: 3.5em;
}

h2{
    font-size: 5em;
    text-align: center;
}

main > article > section > figure > label {
    font-size: 2.5em;
    font-style: oblique;
}

footer {
    padding: 1.5em;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: var(--neutral);
}

.btn-custom{
    font-size: 2em;
    padding: .5em;
    color: var(--light);
    background-color: var(--neutral);
    border-color: var(--dark);
    border-radius: 10px;

}

.wrong{
    font-size: 1.5em;
    color: var(--wrong);
    background-color: var(--attention-highlight);
}

.right{
    font-size: 1.5em;
    color: var(--light);
    background-color: var(--highlight);
}

.custom-label{
    margin: .2em;
    box-shadow: 5px 10px 5px var(--neutral);
}

.choice {
    font-size: 2.5em;
    list-style-type: numbers;
    margin: .2em;
    box-shadow: 0 4px 8px 0 var(--neutral), 0 6px 20px 0 var(--transparent-neutral);
}

.choice:hover {
  box-shadow: inset 0px 0px 8px var(--soft-highlight), 0 0 10px var(--attention-highlight);
}

.scores:nth-child(odd){
    background-color: var(--neutral);
}

#userScoreLabel{
    padding: .5em;
}

